.vs
*/.DS_Store
.DS_Store
assignment5/a5/.DS_Store
assignment5/a5/distrib/.DS_Store
assignment5/assignment5_siyanhu_12217679/.DS_Store
assignment5/distrib/.DS_Store
assignment5/distrib/vecmath/.DS_Store
assignment5/a5/.DS_Store
final_project/data
final_project/sample_data
final_project/tree
final_project/output
final_project/registration
*.pptx
final_project/output
final_project/data
final_project/registration/colmap_imgs
final_project/registration/imgs
*.pyc
*/__pycache__
*.pyc
